# Step 1: prepare data from JH about confirmed cases

We need to get the approximate growth rate of the number of confirmed case for each country. This returns a dataset of all countries with more than 250 cases to this date and their respective growth rate. We will use this as training data

In [705]:
#STEP1: prepare data from JH about confirmed cases
#import data
import pandas as pd
import numpy as np
URL1 = "https://raw.githubusercontent.com/AlexOktay/covid19/master/time_series_covid19_confirmed_global.csv"
country_data = pd.read_csv(URL1)

#Drop LAT and LONG columns, rename "Country/Region"
country_data = country_data.drop(["Lat", "Long"], axis = 1)
country_data.rename(columns={"Country/Region":"Countries"}, inplace=True)

#Agregate data from provinces to countries
dates = list(country_data.columns)
country_data = country_data[dates].groupby(country_data["Countries"]).sum()

# we want to see a daily growth rate for number of cases (assumption: exponential)
# We first need to see when the epidemic started spreading in each country
spread_start = pd.DataFrame(columns=["Country", "Start"])
for index, row in country_data.iterrows():
  for date in country_data:
    if country_data.loc[index, date] > 0:
      spread_start = spread_start.append({"Country":index, "Start":date}, ignore_index=True)
      break  
    else:
      pass

# exponential growth is based on equation y(t) = a__e^rt for a the initial value,
# y(t) the current value, r the growth rate and t the number of days since start of pandemic
# if we resolve for r: r = ln(y(t)/a) / t 
# for simplification purposes, we estimate a=1 (there is only one initial patient)
def rate(y, t):
  "Calculate the exponantial rate of growth"
  growth = np.log(y) / t
  return growth

# Create a new column with growth rate for each country
country_data.insert(0, "Growth_rate",0.00)
last_update = country_data.columns[-1]
for index, row in country_data.iterrows():
  temp = 0
  start_date = spread_start.iloc[temp,1]
  t = len(country_data.columns) - (country_data.columns.get_loc(start_date)+1)
  y = country_data.loc[index, last_update]
  country_data.at[index, 'Growth_rate'] = rate(y,t)
  temp = temp+1

# for training, we will only use countries whcih already have a heavy number
# of confirmed cases (here we set the threshold at >250). We will try to predict
# growth rate for countries under 250 
country_data_copy = country_data #useful in step 4
for index, row in country_data.iterrows():
  if country_data.loc[index, last_update] < 250:
    country_data = country_data.drop(index)
  else:
    pass

# finaly, drop columns with the exact evolution of confirmed cases: we will be 
#working only on the growth_rate to try to predict it
country_data.drop(country_data.iloc[:, 1:], axis=1, inplace=True)

country_data

                      Growth_rate
Countries
Algeria                  0.187929
Andorra                  0.174602
Argentina                0.199326
Armenia                  0.181127
Australia                0.251654
Austria                  0.279480
Bahrain                  0.192006
Belgium                  0.277920
Brazil                   0.254266
Bulgaria                 0.177505
Canada                   0.264109
Chile                    0.230750
China                    0.353538
Colombia                 0.196554
Costa Rica               0.174130
Croatia                  0.199166
Czechia                  0.241609
Denmark                  0.240507
Diamond Princess         0.205252
Dominican Republic       0.198898
Ecuador                  0.230457
Egypt                    0.196379
Estonia                  0.198574
Finland                  0.217123
France                   0.325512
Germany                  0.338658
Greece                   0.214786
Hungary                  0.178243
Iceland                  0.212226
India                    0.212120
Indonesia                0.217273
Iran                     0.324494
Iraq                     0.191465
Ireland                  0.239364
Israel                   0.250561
Italy                    0.355246
Japan                    0.227864
Korea, South             0.285663
Latvia                   0.176087
Lebanon                  0.186522
Lithuania                0.183767
Luxembourg               0.230652
Malaysia                 0.239948
Mexico                   0.199113
Morocco                  0.182611
Netherlands              0.283280
New Zealand              0.184628
Norway                   0.257214
Pakistan                 0.225774
Panama                   0.203538
Peru                     0.201676
Philippines              0.209011
Poland                   0.226136
Portugal                 0.261216
Qatar                    0.197859
Romania                  0.223873
Russia                   0.216973
Saudi Arabia             0.218959
Serbia                   0.191396
Singapore                0.206118
Slovakia                 0.174835
Slovenia                 0.201528
South Africa             0.220774
Spain                    0.346661
Sweden                   0.250910
Switzerland              0.295848
Taiwan*                  0.174602
Thailand                 0.219852
Turkey                   0.270246
US                       0.360292
Ukraine                  0.179268
United Arab Emirates     0.187621
United Kingdom           0.299958

# Step 2: Set the economic features
We will use economic data to try to predict the actual growth rate of the epidemic in countries. This will be the features used in our model. This returns a table where each row = one heavily infected country with their respective economic features (columns)

We uses two databases for this:
- general_data for basic features about population (population, density...)
- bank_data for specific economic indicators (from World Bank)

## Step 2.1 First data source: general_data

In [706]:
# import the data
URL2 = "https://raw.githubusercontent.com/AlexOktay/covid19/master/countries%20of%20the%20world.csv"
general_data = pd.read_csv(URL2)

#Remove space at the end of the country name in general data, and edit names to match country_data
for index, row in general_data.iterrows():  
  general_data.iloc[index, 0] = general_data.iloc[index, 0].rstrip()
general_data.Country.replace({"United States":"US"}, inplace=True)
general_data.Country.replace({"Czech Republic":"Czechia"}, inplace=True)
general_data.Country.replace({"Taiwan":"Taiwan*"}, inplace=True)

# merge general data with epidemic data using SQL
from sqlalchemy import create_engine
db = create_engine('sqlite://', echo=False)
country_data.to_sql("country", con=db)
general_data.to_sql("general", con=db) 

query = """ 
SELECT *
FROM country c
INNER JOIN general g
ON c.countries=g.country
""" 
merge_data1 = pd.read_sql(query, con=db) 

#Drop useless columns and columns that do not seem relevant
merge_data1.drop(['Country','Region', 'index', 'Coastline (coast/area ratio)', 'Other (%)', 'Climate'],axis=1,inplace=True)
merge_data1.dtypes

#Convert columns to float
to_replace = ["Pop. Density (per sq. mi.)","Net migration","Infant mortality (per 1000 births)","Literacy (%)", 
              "Phones (per 1000)", "Arable (%)","Crops (%)","Birthrate","Deathrate", "Agriculture", "Industry", "Service"]
for i in to_replace:
  merge_data1[i] = merge_data1[i].str.replace(',', '.')

cols = merge_data1.columns.drop('Countries')
merge_data1[cols] = merge_data1[cols].apply(pd.to_numeric, errors='coerce')

# Drop rows with NaN (only 2 of them so no efficiency loss)
merge_data1 = merge_data1.dropna()

merge_data1

               Countries  Growth_rate  ...  Industry  Service
0                Algeria     0.187929  ...     0.600    0.298
2              Argentina     0.199326  ...     0.358    0.547
3                Armenia     0.181127  ...     0.343    0.418
4              Australia     0.251654  ...     0.262    0.700
5                Austria     0.279480  ...     0.304    0.678
6                Bahrain     0.192006  ...     0.387    0.608
7                Belgium     0.277920  ...     0.240    0.749
8                 Brazil     0.254266  ...     0.400    0.516
9               Bulgaria     0.177505  ...     0.304    0.603
10                Canada     0.264109  ...     0.294    0.684
11                 Chile     0.230750  ...     0.493    0.447
12                 China     0.353538  ...     0.473    0.403
13              Colombia     0.196554  ...     0.342    0.533
14            Costa Rica     0.174130  ...     0.299    0.614
15               Croatia     0.199166  ...     0.308    0.622
16               Czechia     0.241609  ...     0.393    0.573
17               Denmark     0.240507  ...     0.246    0.735
18    Dominican Republic     0.198898  ...     0.306    0.582
19               Ecuador     0.230457  ...     0.312    0.618
20                 Egypt     0.196379  ...     0.357    0.493
21               Estonia     0.198574  ...     0.294    0.666
22               Finland     0.217123  ...     0.295    0.676
23                France     0.325512  ...     0.214    0.764
24               Germany     0.338658  ...     0.296    0.695
25                Greece     0.214786  ...     0.213    0.733
26               Hungary     0.178243  ...     0.312    0.651
27               Iceland     0.212226  ...     0.150    0.765
28                 India     0.212120  ...     0.276    0.538
29             Indonesia     0.217273  ...     0.458    0.408
30                  Iran     0.324494  ...     0.424    0.460
31                  Iraq     0.191465  ...     0.666    0.261
32               Ireland     0.239364  ...     0.460    0.490
33                Israel     0.250561  ...     0.317    0.657
34                 Italy     0.355246  ...     0.291    0.688
35                 Japan     0.227864  ...     0.258    0.725
36          Korea, South     0.285663  ...     0.403    0.563
37                Latvia     0.176087  ...     0.261    0.699
38               Lebanon     0.186522  ...     0.210    0.670
39             Lithuania     0.183767  ...     0.325    0.620
40            Luxembourg     0.230652  ...     0.130    0.860
41              Malaysia     0.239948  ...     0.480    0.436
42                Mexico     0.199113  ...     0.259    0.702
43               Morocco     0.182611  ...     0.357    0.426
44           Netherlands     0.283280  ...     0.244    0.736
45           New Zealand     0.184628  ...     0.273    0.684
46                Norway     0.257214  ...     0.415    0.564
47              Pakistan     0.225774  ...     0.251    0.533
48                Panama     0.203538  ...     0.156    0.776
49                  Peru     0.201676  ...     0.270    0.650
50           Philippines     0.209011  ...     0.326    0.530
51                Poland     0.226136  ...     0.311    0.640
52              Portugal     0.261216  ...     0.274    0.673
53                 Qatar     0.197859  ...     0.801    0.197
54               Romania     0.223873  ...     0.350    0.549
55                Russia     0.216973  ...     0.371    0.575
56          Saudi Arabia     0.218959  ...     0.613    0.354
58             Singapore     0.206118  ...     0.339    0.661
60              Slovenia     0.201528  ...     0.369    0.603
61          South Africa     0.220774  ...     0.303    0.671
62                 Spain     0.346661  ...     0.295    0.665
63                Sweden     0.250910  ...     0.282    0.707
64           Switzerland     0.295848  ...     0.340    0.645
65               Taiwan*     0.174602  ...     0.259    0.723
66              Thailand     0.219852  ...     0.441    0.460
67                Turkey     0.270246  ...     0.298    0.585
68               Ukraine     0.179268  ...     0.452    0.361
69  United Arab Emirates     0.187621  ...     0.585    0.375
70        United Kingdom     0.299958  ...     0.237    0.758
71                    US     0.360292  ...     0.204    0.787

[69 rows x 17 columns]

## Step 2.2 World bank data

In [707]:
URL2 = "https://raw.githubusercontent.com/AlexOktay/covid19/master/API_3_DS2_en_csv_v2_896475.csv"
economics = pd.read_csv(URL2)

#Data cleaning
economics = economics.drop([0,1,2,3], axis=0)
economics = economics.pivot(index='Data Source', columns='Unnamed: 2', values='Unnamed: 4')
economics = economics.rename_axis('Country_Name')

rename_countries={'Congo, Dem. Rep.':'Congo (Kinshasa)', 'Congo, Rep.':'Congo (Brazzaville)', 'Korea, Rep.':'Korea, South',
                  'St. Kitts and Nevis':'Saint Kitts and Nevis', 'St. Lucia':'Saint Lucia',
                  'St. Vincent and the Grenadines':'Saint Vincent and the Grenadines', 'United States':'US', 'Czech Republic':'Czechia',
                  'Egypt, Arab Rep.':'Egypt', 'Iran, Islamic Rep.':'Iran', 'Russian Federation':'Russia'}

economics = economics.rename(index=rename_countries)
merge_data1.to_sql("source", con=db)
economics.to_sql("econ", con=db)

query = """ 
SELECT *
FROM source s
INNER JOIN econ e
ON e.Country_name = s.countries
""" 
merge_data2 = pd.read_sql(query, con=db) 
#Drop useless columns and columns that do not seem relevant
merge_data2 = merge_data2[['Countries', 'Growth_rate', 'Population', 'Area (sq. mi.)', 'Pop. Density (per sq. mi.)', 'Net migration',
       'Infant mortality (per 1000 births)', 'GDP ($ per capita)', 'Literacy (%)', 'Phones (per 1000)','Arable (%)','Crops (%)','Birthrate','Deathrate',
       'Agriculture','Industry','Service', 'Adjusted net national income per capita (constant 2010 US$)','Current account balance (% of GDP)',
       'Exports of goods and services (% of GDP)','External debt stocks (% of GNI)','Foreign direct investment, net inflows (% of GDP)',
       'Foreign direct investment, net outflows (% of GDP)','Gross capital formation (% of GDP)','Gross domestic savings (% of GDP)',
       'Imports of goods and services (% of GDP)','Inflation, consumer prices (annual %)','Short-term debt (% of total reserves)','Total debt service (% of GNI)','Trade (% of GDP)']]
merge_data2

               Countries  ...  Trade (% of GDP)
0                Algeria  ...         55.879155
1              Argentina  ...         25.223332
2                Armenia  ...         86.830141
3              Australia  ...         41.770000
4                Austria  ...        104.773176
5                Bahrain  ...        142.830014
6                Belgium  ...        163.229188
7                 Brazil  ...         24.144490
8               Bulgaria  ...        131.903110
9                 Canada  ...         65.142632
10                 Chile  ...         55.670829
11                 China  ...         38.149688
12              Colombia  ...         35.261260
13            Costa Rica  ...         66.049131
14               Croatia  ...         99.438113
15               Czechia  ...        151.928876
16               Denmark  ...        103.281102
17    Dominican Republic  ...         50.225085
18               Ecuador  ...         42.421721
19                 Egypt  ...         45.126801
20               Estonia  ...        147.995115
21               Finland  ...         75.253449
22                France  ...         62.698061
23               Germany  ...         87.693398
24                Greece  ...         67.000555
25               Hungary  ...        166.997294
26               Iceland  ...         88.126127
27                 India  ...         40.766680
28             Indonesia  ...         39.362745
29                  Iran  ...         48.780638
30                  Iraq  ...         73.699211
31               Ireland  ...        219.998349
32                Israel  ...         56.205837
33                 Italy  ...         58.704356
34                 Japan  ...         34.613561
35          Korea, South  ...         80.779219
36                Latvia  ...        124.096657
37               Lebanon  ...         72.493712
38             Lithuania  ...        144.827932
39            Luxembourg  ...        400.079471
40              Malaysia  ...        133.219456
41                Mexico  ...         77.194139
42               Morocco  ...         83.975000
43           Netherlands  ...        156.028211
44           New Zealand  ...         54.248969
45                Norway  ...         69.164425
46              Pakistan  ...         25.852837
47                Panama  ...         87.566710
48                  Peru  ...         47.513550
49           Philippines  ...         71.895934
50                Poland  ...        104.524797
51              Portugal  ...         84.439141
52                 Qatar  ...         88.299431
53               Romania  ...         85.064152
54                Russia  ...         46.760771
55          Saudi Arabia  ...         64.195185
56             Singapore  ...        317.832681
57              Slovenia  ...        157.479282
58          South Africa  ...         57.973895
59                 Spain  ...         66.777579
60                Sweden  ...         85.658810
61           Switzerland  ...        119.507955
62              Thailand  ...        122.524547
63                Turkey  ...         54.058310
64               Ukraine  ...        103.717841
65  United Arab Emirates  ...        178.666804
66        United Kingdom  ...         61.945139
67                    US  ...         27.142320

[68 rows x 30 columns]

# Step 3: Create and fit the model
Build our model using ML

In [708]:
#With XGBoost

#Preparation
data = merge_data2
y = data.Growth_rate
data_features = list(data.columns)
data_features.remove("Countries")
data_features.remove("Growth_rate")
X=data[data_features]

from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split (X, y, train_size=0.99, test_size=0.01, random_state=5)
#With train size = 0.85, average mean absolute error is approx 0.03

#Fit model and mpute missing data with median
from xgboost import XGBRegressor
from sklearn.impute import SimpleImputer

my_imputer = SimpleImputer(strategy='median')
imputed_X_train = pd.DataFrame(my_imputer.fit_transform(X_train))
imputed_X_valid = pd.DataFrame(my_imputer.transform(X_valid))

imputed_X_train.columns = X_train.columns
imputed_X_valid.columns = X_valid.columns

model = XGBRegressor(n_estimators=1000, learning_rate=0.04)
model.fit(X_train, y_train, 
	          early_stopping_rounds=10, 
	          eval_set=[(X_valid, y_valid)],
            verbose=False)

#Prediction test
from sklearn.metrics import mean_absolute_error
predictions = model.predict(X_valid)
print("Mean Absolute Error: " + str(mean_absolute_error(predictions, y_valid)))

[19:56:43] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
Mean Absolute Error: 0.0866666227224076

/usr/local/lib/python3.6/dist-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

# Step 4: predict data using model

## Step 4.1: data preparation

In [709]:
# Gather the list of countries we didn't use for training
for index, row in country_data_copy.iterrows():
  if country_data_copy.loc[index, last_update] > 250:
    country_data_copy = country_data_copy.drop(index)
  else:
    pass
country_data_copy.drop(country_data_copy.iloc[:, 0:], axis=1, inplace=True)
general_data.Country.replace({"Antigua & Barbuda":"Antigua and Barbuda"}, inplace=True)
general_data.Country.replace({"Bahamas, The":"Bahamas"}, inplace=True)
general_data.Country.replace({"Bosnia & Herzegovina":"Bosnia and Herzegovina"}, inplace=True)
general_data.Country.replace({"Cape Verde":"Cabo Verde"}, inplace=True)
general_data.Country.replace({"Central African Rep.":"Central African Republic"}, inplace=True)
general_data.Country.replace({"Congo, Repub. of the, The":"Congo (Brazzaville)"}, inplace=True)
general_data.Country.replace({"Congo, Dem. Rep, The":"Congo (Kinshasa)"}, inplace=True)
general_data.Country.replace({"Gambia, The":"Gambia"}, inplace=True)
general_data.Country.replace({"Macedonia":"North Macedonia"}, inplace=True)
general_data.Country.replace({"Saint Kitts & Nevis":"Saint Kitts and Nevis"}, inplace=True)
general_data.Country.replace({"East Timor":"Timor-Leste"}, inplace=True)
general_data.Country.replace({"Trinidad & Tobago":"Trinidad and Tobago"}, inplace=True)
general_data.Country.replace({"Gaza Strip":"West Bank and Gaza"}, inplace=True)
#Countries left out due to missing data: Eswatini, Holy See, Kosovo, Montenegro

# Join with required data, and do the data cleaning as done in step 2
country_data_copy.to_sql("pred", con=db)
general_data.to_sql("gen", con=db)

query = """ 
SELECT *
FROM pred c
INNER JOIN gen g
ON c.countries=g.country
INNER JOIN econ e
ON e.Country_name = c.countries
""" 
prediction_data = pd.read_sql(query, con=db) 
prediction_data.drop(['Country','Region', 'index', 'Coastline (coast/area ratio)', 'Other (%)', 'Climate'],axis=1,inplace=True)
prediction_data = prediction_data[['Countries', 'Population', 'Area (sq. mi.)', 'Pop. Density (per sq. mi.)', 'Net migration',
       'Infant mortality (per 1000 births)', 'GDP ($ per capita)', 'Literacy (%)', 'Phones (per 1000)','Arable (%)','Crops (%)','Birthrate','Deathrate',
       'Agriculture','Industry','Service', 'Adjusted net national income per capita (constant 2010 US$)','Current account balance (% of GDP)',
       'Exports of goods and services (% of GDP)','External debt stocks (% of GNI)','Foreign direct investment, net inflows (% of GDP)',
       'Foreign direct investment, net outflows (% of GDP)','Gross capital formation (% of GDP)','Gross domestic savings (% of GDP)',
       'Imports of goods and services (% of GDP)','Inflation, consumer prices (annual %)','Short-term debt (% of total reserves)','Total debt service (% of GNI)','Trade (% of GDP)']]

to_replace = ["Pop. Density (per sq. mi.)","Net migration","Infant mortality (per 1000 births)","Literacy (%)", 
              "Phones (per 1000)", "Arable (%)","Crops (%)","Birthrate","Deathrate", "Agriculture", "Industry", "Service"]
for i in to_replace:
  prediction_data[i] = prediction_data[i].str.replace(',', '.')

cols = prediction_data.columns.drop('Countries')
prediction_data[cols] = prediction_data[cols].apply(pd.to_numeric, errors='coerce')

country_list_pred = prediction_data["Countries"]
prediction_data.drop(['Countries'], axis=1, inplace=True)

prediction_data

    Population  Area (sq. mi.)  ...  Total debt service (% of GNI)  Trade (% of GDP)
0     31056997          647500  ...                       0.313625         51.236881
1      3581655           28748  ...                       3.924523         78.161312
2     12127071         1246700  ...                       7.754783         52.256821
3        69108             443  ...                            NaN               NaN
4      7961619           86600  ...                       5.821852         90.402316
5    147365352          144000  ...                       0.832432         35.304000
6       279912             431  ...                            NaN         82.723197
7     10293011          207600  ...                       8.370185        133.367755
8       287730           22966  ...                       6.017018        113.411499
9      7862944          112620  ...                       1.146442         67.577128
10     2279723           47000  ...                       3.685819         82.809844
11     8989046         1098580  ...                       2.686984         56.704653
12     4498976           51129  ...                       5.032377         96.493139
13    13902972          274200  ...                       1.140530         66.565763
14    13881427          181040  ...                       4.876692        124.787774
15    17340702          475440  ...                       2.103419         41.189967
16      420979            4033  ...                       2.969724        113.303167
17     4303356          622984  ...                       1.121707         57.143546
18     9944201         1284000  ...                       1.597649         73.575008
19    17654843          322460  ...                       6.142378         64.760626
20    11382820          110860  ...                            NaN         26.217592
21      784301            9250  ...                            NaN        146.404841
22      486530           23000  ...                      12.153587        325.439507
23       68910             754  ...                       5.103057        107.957130
24     1062777           15007  ...                       0.079043        121.004693
25     6822378           21040  ...                      16.197214         74.457999
26      540109           28051  ...                            NaN         97.691091
27     4786994          121320  ...                            NaN               NaN
28    74777981         1127127  ...                       1.710749         31.107569
29      905949           18270  ...                       0.894494               NaN
30     1424906          267667  ...                       4.632588         75.068740
31     1428757             360  ...                            NaN         74.212483
32     4661473           69700  ...                      16.489315        104.039822
33    22409572          239460  ...                       3.385128         73.648205
34       89703             344  ...                       5.489910        104.438592
35    12293545          108890  ...                       5.654378         45.657239
36     9690222          245857  ...                       0.876158        101.251634
37     1442029           36120  ...                       0.593354         60.847017
38      767245          214970  ...                       2.799481         86.670108
39     8308504           27750  ...                       0.235920         75.316264
40     7326496          112090  ...                       8.457344        101.337211
41     2758124           10991  ...                       9.764466         83.547775
42     5906760           92300  ...                       4.657233         91.473826
43    15233244         2717300  ...                      18.812869         59.197370
44    34707817          582650  ...                       2.031457         37.489284
45     2418393           17820  ...                            NaN         97.840516
46     3042004          111370  ...                       0.424724        122.989881
47     5900754         1759540  ...                            NaN         89.735742
48       33987             160  ...                            NaN               NaN
49     2050554           25333  ...                       8.091845        124.572819
50    18595469          587040  ...                       1.028734         65.343402
51      359008             300  ...                       3.684602        144.148914
52    11716829         1240000  ...                       1.036255         58.030812
53      400214             316  ...                            NaN        278.316911
54     3177388         1030700  ...                       6.673089        117.983087
55     1240827            2040  ...                      20.114432         97.593619
56     4466706           33843  ...                       4.178304         85.637192
57       32543               2  ...                            NaN               NaN
58     2832224         1564116  ...                      39.494876        117.223292
59    19686505          801590  ...                      10.635821         99.718812
60     2044147          825418  ...                            NaN         84.133919
61    28287147          147181  ...                       0.997613         51.363447
62     5570129          129494  ...                       8.460534         95.951569
63    12525094         1267000  ...                       1.651508         49.587484
64   131859731          923768  ...                       0.979965         26.347599
65     3102229          212460  ...                            NaN        101.878806
66     5670544          462840  ...                      12.494900               NaN
67     6506464          406750  ...                       4.687010         68.677831
68     8648248           26338  ...                       2.699664         50.985844
69       39129             261  ...                            NaN        105.324862
70      168458             616  ...                       2.735781               NaN
71      117848             389  ...                       4.232307         89.671099
72       29251              61  ...                            NaN               NaN
73    11987121          196190  ...                       3.226575         57.409148
74       81541             455  ...                            NaN        192.033858
75     8863338          637657  ...                       0.000774        124.607418
76    20222240           65610  ...                       4.912497         50.544760
77    41236378         2505810  ...                       0.210432         21.507147
78      439117          163270  ...                            NaN               NaN
79    37445392          945087  ...                       1.433482         32.238941
80     5548702           56785  ...                       1.912436         76.845916
81     1065842            5128  ...                            NaN               NaN
82    10175014          163610  ...                       7.867655        101.320744
83    28195754          236040  ...                       0.747611         43.502717
84     3431932          176220  ...                            NaN         39.763919
85    27307134          447400  ...                       3.164667         45.678902
86    84402966          329560  ...                       6.551421        200.384580
87    11502010          752614  ...                       3.408538         68.945692
88    12236805          390580  ...                       3.388659         48.336453

[89 rows x 28 columns]

## Step 4.2: prediction

In [718]:
#Make prediction
prediction_values = model.predict(prediction_data)
final_prediction = pd.DataFrame({"Countries": country_list_pred})
final_prediction["Estimated exp growth rate"]=prediction_values
final_prediction.set_index("Countries", inplace=True)
final_prediction.sort_values(by="Estimated exp growth rate", inplace=True, ascending=False)

#Uncomment to download results
#final_prediction.to_csv("results.csv", sep=",")
#from google.colab import files
#files.download('results.csv')

final_prediction

                                  Estimated exp growth rate
Countries
Monaco                                             0.276902
Cuba                                               0.258761
Somalia                                            0.251194
Chad                                               0.246432
Eritrea                                            0.241888
San Marino                                         0.234887
Central African Republic                           0.234673
Kazakhstan                                         0.232438
Gabon                                              0.232339
Equatorial Guinea                                  0.231505
Liechtenstein                                      0.231194
Libya                                              0.230429
Malta                                              0.226838
Saint Lucia                                        0.221658
Bangladesh                                         0.221137
Nigeria                                            0.220708
Ethiopia                                           0.217955
Vietnam                                            0.214231
Angola                                             0.213911
Trinidad and Tobago                                0.213615
Tanzania                                           0.212885
Sri Lanka                                          0.212302
West Bank and Gaza                                 0.212246
Antigua and Barbuda                                0.210838
Cote d'Ivoire                                      0.210812
Barbados                                           0.209664
Kenya                                              0.209130
Sudan                                              0.208491
Guatemala                                          0.208046
Azerbaijan                                         0.207178
Dominica                                           0.206968
Zimbabwe                                           0.205683
Papua New Guinea                                   0.204832
Rwanda                                             0.204284
Uzbekistan                                         0.204212
Haiti                                              0.203957
Uganda                                             0.203694
Nepal                                              0.203455
Cyprus                                             0.202603
Suriname                                           0.202527
Tunisia                                            0.202342
Grenada                                            0.202321
Niger                                              0.201046
Cameroon                                           0.200768
Saint Kitts and Nevis                              0.200227
Togo                                               0.200000
Saint Vincent and the Grenadines                   0.199623
Kuwait                                             0.199208
Ghana                                              0.198831
Belarus                                            0.198640
Senegal                                            0.198261
Mozambique                                         0.197704
Burkina Faso                                       0.197478
Afghanistan                                        0.196463
Cabo Verde                                         0.196423
Madagascar                                         0.196288
Mali                                               0.194678
Uruguay                                            0.194254
Zambia                                             0.194147
Benin                                              0.193542
Cambodia                                           0.193441
Guinea                                             0.193394
Fiji                                               0.193240
El Salvador                                        0.193142
Nicaragua                                          0.192774
Georgia                                            0.191363
Maldives                                           0.191362
Albania                                            0.190918
Jamaica                                            0.190578
Mongolia                                           0.190126
Bolivia                                            0.189916
North Macedonia                                    0.189594
Paraguay                                           0.189556
Djibouti                                           0.189356
Mauritius                                          0.188245
Honduras                                           0.187887
Liberia                                            0.187656
Jordan                                             0.187557
Bhutan                                             0.187436
Mauritania                                         0.186981
Bosnia and Herzegovina                             0.185176
Guinea-Bissau                                      0.185172
Oman                                               0.185017
Seychelles                                         0.184578
Namibia                                            0.184449
Guyana                                             0.183154
Timor-Leste                                        0.181809
Moldova                                            0.180826
Belize                                             0.180105