# Step 1: prepare data from JH about confirmed cases

We need to get the approximate growth rate of the number of confirmed case for each country. This returns a dataset of all countries with more than 250 cases to this date and their respective growth rate. We will use this as training data

In [111]:
#STEP1: prepare data from JH about confirmed cases
#import data
import pandas as pd
import numpy as np
URL1 = "https://raw.githubusercontent.com/AlexOktay/covid19/master/time_series_covid19_confirmed_global.csv"
country_data = pd.read_csv(URL1)

#Drop LAT and LONG columns, rename "Country/Region"
country_data = country_data.drop(["Lat", "Long"], axis = 1)
country_data.rename(columns={"Country/Region":"Countries"}, inplace=True)

#Agregate data from provinces to countries
dates = list(country_data.columns)
country_data = country_data[dates].groupby(country_data["Countries"]).sum()

# we want to see a daily growth rate for number of cases (assumption: exponential)
# We first need to see when the epidemic started spreading in each country
spread_start = pd.DataFrame(columns=["Country", "Start"])
for index, row in country_data.iterrows():
  for date in country_data:
    if country_data.loc[index, date] > 0:
      spread_start = spread_start.append({"Country":index, "Start":date}, ignore_index=True)
      break  
    else:
      pass

# exponential growth is based on equation y(t) = a__e^rt for a the initial value,
# y(t) the current value, r the growth rate and t the number of days since start of pandemic
# if we resolve for r: r = ln(y(t)/a) / t 
# for simplification purposes, we estimate a=1 (there is only one initial patient)
def rate(y, t):
  "Calculate the exponantial rate of growth"
  growth = np.log(y) / t
  return growth

# Create a new column with growth rate for each country
country_data.insert(0, "Growth_rate",0.00)
last_update = country_data.columns[-1]
for index, row in country_data.iterrows():
  temp = 0
  start_date = spread_start.iloc[temp,1]
  t = len(country_data.columns) - (country_data.columns.get_loc(start_date)+1)
  y = country_data.loc[index, last_update]
  country_data.at[index, 'Growth_rate'] = rate(y,t)
  temp = temp+1

# for training, we will only use countries whcih already have a heavy number
# of confirmed cases (here we set the threshold at >250). We will try to predict
# growth rate for countries under 250 
country_data_copy = country_data #useful in step 4
for index, row in country_data.iterrows():
  if country_data.loc[index, last_update] < 250:
    country_data = country_data.drop(index)
  else:
    pass

# finaly, drop columns with the exact evolution of confirmed cases: we will be 
#working only on the growth_rate to try to predict it
country_data.drop(country_data.iloc[:, 1:], axis=1, inplace=True)

country_data

                      Growth_rate
Countries
Algeria                  0.187929
Andorra                  0.174602
Argentina                0.199326
Armenia                  0.181127
Australia                0.251654
...                           ...
Turkey                   0.270246
US                       0.360292
Ukraine                  0.179268
United Arab Emirates     0.187621
United Kingdom           0.299958

[73 rows x 1 columns]

# Step 2: Set the economic features
We will use economic data to try to predict the actual growth rate of the epidemic in countries. This will be the features used in our model. This returns a table where each row = one heavily infected country with their respective economic features (columns)

We uses two databases for this:
- general_data for basic features about population (population, density...)
- bank_data for specific economic indicators (from World Bank)

## Step 2.1 First data source: general_data

In [112]:
# import the data
URL2 = "https://raw.githubusercontent.com/AlexOktay/covid19/master/countries%20of%20the%20world.csv"
general_data = pd.read_csv(URL2)

#Remove space at the end of the country name in general data, and edit names to match country_data
for index, row in general_data.iterrows():  
  general_data.iloc[index, 0] = general_data.iloc[index, 0].rstrip()
general_data.Country.replace({"United States":"US"}, inplace=True)
general_data.Country.replace({"Czech Republic":"Czechia"}, inplace=True)
general_data.Country.replace({"Taiwan":"Taiwan*"}, inplace=True)

# merge general data with epidemic data using SQL
from sqlalchemy import create_engine
db = create_engine('sqlite://', echo=False)
country_data.to_sql("country", con=db)
general_data.to_sql("general", con=db) 

query = """ 
SELECT *
FROM country c
INNER JOIN general g
ON c.countries=g.country
""" 
merge_data1 = pd.read_sql(query, con=db) 

#Drop useless columns and columns that do not seem relevant
merge_data1.drop(['Country','Region', 'index', 'Coastline (coast/area ratio)', 'Other (%)', 'Climate'],axis=1,inplace=True)
merge_data1.dtypes

#Convert columns to float
to_replace = ["Pop. Density (per sq. mi.)","Net migration","Infant mortality (per 1000 births)","Literacy (%)", 
              "Phones (per 1000)", "Arable (%)","Crops (%)","Birthrate","Deathrate", "Agriculture", "Industry", "Service"]
for i in to_replace:
  merge_data1[i] = merge_data1[i].str.replace(',', '.')

cols = merge_data1.columns.drop('Countries')
merge_data1[cols] = merge_data1[cols].apply(pd.to_numeric, errors='coerce')

# Drop rows with NaN (only 2 of them so no efficiency loss)
merge_data1 = merge_data1.dropna()

merge_data1

               Countries  Growth_rate  ...  Industry  Service
0                Algeria     0.187929  ...     0.600    0.298
2              Argentina     0.199326  ...     0.358    0.547
3                Armenia     0.181127  ...     0.343    0.418
4              Australia     0.251654  ...     0.262    0.700
5                Austria     0.279480  ...     0.304    0.678
..                   ...          ...  ...       ...      ...
67                Turkey     0.270246  ...     0.298    0.585
68               Ukraine     0.179268  ...     0.452    0.361
69  United Arab Emirates     0.187621  ...     0.585    0.375
70        United Kingdom     0.299958  ...     0.237    0.758
71                    US     0.360292  ...     0.204    0.787

[69 rows x 17 columns]

## Step 2.2 World bank data

In [113]:
URL2 = "https://raw.githubusercontent.com/AlexOktay/covid19/master/API_3_DS2_en_csv_v2_896475.csv"
economics = pd.read_csv(URL2)

#Data cleaning
economics = economics.drop([0,1,2,3], axis=0)
economics = economics.pivot(index='Data Source', columns='Unnamed: 2', values='Unnamed: 4')
economics = economics.rename_axis('Country_Name')

rename_countries={'Congo, Dem. Rep.':'Congo (Kinshasa)', 'Congo, Rep.':'Congo (Brazzaville)', 'Korea, Rep.':'Korea, South',
                  'St. Kitts and Nevis':'Saint Kitts and Nevis', 'St. Lucia':'Saint Lucia',
                  'St. Vincent and the Grenadines':'Saint Vincent and the Grenadines', 'United States':'US', 'Czech Republic':'Czechia',
                  'Egypt, Arab Rep.':'Egypt', 'Iran, Islamic Rep.':'Iran', 'Russian Federation':'Russia'}

economics = economics.rename(index=rename_countries)
merge_data1.to_sql("source", con=db)
economics.to_sql("econ", con=db)

query = """ 
SELECT *
FROM source s
INNER JOIN econ e
ON e.Country_name = s.countries
""" 
merge_data2 = pd.read_sql(query, con=db) 
#Drop useless columns and columns that do not seem relevant
merge_data2 = merge_data2[['Countries', 'Growth_rate', 'Population', 'Area (sq. mi.)', 'Pop. Density (per sq. mi.)', 'Net migration',
       'Infant mortality (per 1000 births)', 'GDP ($ per capita)', 'Literacy (%)', 'Phones (per 1000)','Arable (%)','Crops (%)','Birthrate','Deathrate',
       'Agriculture','Industry','Service', 'Adjusted net national income per capita (constant 2010 US$)','Current account balance (% of GDP)',
       'Exports of goods and services (% of GDP)','External debt stocks (% of GNI)','Foreign direct investment, net inflows (% of GDP)',
       'Foreign direct investment, net outflows (% of GDP)','Gross capital formation (% of GDP)','Gross domestic savings (% of GDP)',
       'Imports of goods and services (% of GDP)','Inflation, consumer prices (annual %)','Short-term debt (% of total reserves)','Total debt service (% of GNI)','Trade (% of GDP)']]
merge_data2

               Countries  ...  Trade (% of GDP)
0                Algeria  ...         55.879155
1              Argentina  ...         25.223332
2                Armenia  ...         86.830141
3              Australia  ...         41.770000
4                Austria  ...        104.773176
..                   ...  ...               ...
63                Turkey  ...         54.058310
64               Ukraine  ...        103.717841
65  United Arab Emirates  ...        178.666804
66        United Kingdom  ...         61.945139
67                    US  ...         27.142320

[68 rows x 30 columns]

# Step 3: Create and fit the model
Build our model using ML

In [114]:
#With XGBoost

#Preparation
data = merge_data2
y = data.Growth_rate
data_features = list(data.columns)
data_features.remove("Countries")
data_features.remove("Growth_rate")
X=data[data_features]

from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split (X, y, train_size=0.99, test_size=0.01, random_state=5)
# With train size = 0.85, average mean absolute error is approx 0.03
# We set a train_size of 99% after validation to get the most accurate results in our final prediction

#Fit model and mpute missing data with median
from xgboost import XGBRegressor
from sklearn.impute import KNNImputer

my_imputer = KNNImputer(n_neighbors=2)
imputed_X_train = pd.DataFrame(my_imputer.fit_transform(X_train))
imputed_X_valid = pd.DataFrame(my_imputer.transform(X_valid))

imputed_X_train.columns = X_train.columns
imputed_X_valid.columns = X_valid.columns

model = XGBRegressor(n_estimators=100, learning_rate=0.10)
model.fit(X_train, y_train, 
	        eval_set=[(X_valid, y_valid)],
          verbose=False)

# Uncomment for cross validation and prediction test using train size. Results: Mean_absolute_error = 0.31
"""
from sklearn.metrics import mean_absolute_error
predictions = model.predict(X_valid)
print("Mean Absolute Error: " + str(mean_absolute_error(predictions, y_valid)))

from sklearn.model_selection import cross_val_score
from sklearn.pipeline import Pipeline
pipeline1 = Pipeline(steps=[('preprocessor', SimpleImputer(strategy='median')),
                              ('model', XGBRegressor(n_estimators=100, learning_rate = 0.10, random_state=0))
                             ])
scores = -1 * cross_val_score(pipeline1, X, y, cv=10, scoring='neg_mean_absolute_error')
print("Average MAE score (across experiments):")
print(scores.mean())
"""

[10:53:54] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

/usr/local/lib/python3.6/dist-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

'\nfrom sklearn.metrics import mean_absolute_error\npredictions = model.predict(X_valid)\nprint("Mean Absolute Error: " + str(mean_absolute_error(predictions, y_valid)))\n\nfrom sklearn.model_selection import cross_val_score\nfrom sklearn.pipeline import Pipeline\npipeline1 = Pipeline(steps=[(\'preprocessor\', SimpleImputer(strategy=\'median\')),\n                              (\'model\', XGBRegressor(n_estimators=100, learning_rate = 0.10, random_state=0))\n                             ])\nscores = -1 * cross_val_score(pipeline1, X, y, cv=10, scoring=\'neg_mean_absolute_error\')\nprint("Average MAE score (across experiments):")\nprint(scores.mean())\n'

# Step 4: predict data using model

## Step 4.1: data preparation

In [115]:
# Gather the list of countries we didn't use for training
for index, row in country_data_copy.iterrows():
  if country_data_copy.loc[index, last_update] > 250:
    country_data_copy = country_data_copy.drop(index)
  else:
    pass
country_data_copy.drop(country_data_copy.iloc[:, 0:], axis=1, inplace=True)
general_data.Country.replace({"Antigua & Barbuda":"Antigua and Barbuda"}, inplace=True)
general_data.Country.replace({"Bahamas, The":"Bahamas"}, inplace=True)
general_data.Country.replace({"Bosnia & Herzegovina":"Bosnia and Herzegovina"}, inplace=True)
general_data.Country.replace({"Cape Verde":"Cabo Verde"}, inplace=True)
general_data.Country.replace({"Central African Rep.":"Central African Republic"}, inplace=True)
general_data.Country.replace({"Congo, Repub. of the, The":"Congo (Brazzaville)"}, inplace=True)
general_data.Country.replace({"Congo, Dem. Rep, The":"Congo (Kinshasa)"}, inplace=True)
general_data.Country.replace({"Gambia, The":"Gambia"}, inplace=True)
general_data.Country.replace({"Macedonia":"North Macedonia"}, inplace=True)
general_data.Country.replace({"Saint Kitts & Nevis":"Saint Kitts and Nevis"}, inplace=True)
general_data.Country.replace({"East Timor":"Timor-Leste"}, inplace=True)
general_data.Country.replace({"Trinidad & Tobago":"Trinidad and Tobago"}, inplace=True)
general_data.Country.replace({"Gaza Strip":"West Bank and Gaza"}, inplace=True)
#Countries left out due to missing data: Eswatini, Holy See, Kosovo, Montenegro

# Join with required data, and do the data cleaning as done in step 2
country_data_copy.to_sql("pred", con=db)
general_data.to_sql("gen", con=db)

query = """ 
SELECT *
FROM pred c
INNER JOIN gen g
ON c.countries=g.country
INNER JOIN econ e
ON e.Country_name = c.countries
""" 
prediction_data = pd.read_sql(query, con=db) 
prediction_data.drop(['Country','Region', 'index', 'Coastline (coast/area ratio)', 'Other (%)', 'Climate'],axis=1,inplace=True)
prediction_data = prediction_data[['Countries', 'Population', 'Area (sq. mi.)', 'Pop. Density (per sq. mi.)', 'Net migration',
       'Infant mortality (per 1000 births)', 'GDP ($ per capita)', 'Literacy (%)', 'Phones (per 1000)','Arable (%)','Crops (%)','Birthrate','Deathrate',
       'Agriculture','Industry','Service', 'Adjusted net national income per capita (constant 2010 US$)','Current account balance (% of GDP)',
       'Exports of goods and services (% of GDP)','External debt stocks (% of GNI)','Foreign direct investment, net inflows (% of GDP)',
       'Foreign direct investment, net outflows (% of GDP)','Gross capital formation (% of GDP)','Gross domestic savings (% of GDP)',
       'Imports of goods and services (% of GDP)','Inflation, consumer prices (annual %)','Short-term debt (% of total reserves)','Total debt service (% of GNI)','Trade (% of GDP)']]

to_replace = ["Pop. Density (per sq. mi.)","Net migration","Infant mortality (per 1000 births)","Literacy (%)", 
              "Phones (per 1000)", "Arable (%)","Crops (%)","Birthrate","Deathrate", "Agriculture", "Industry", "Service"]
for i in to_replace:
  prediction_data[i] = prediction_data[i].str.replace(',', '.')

cols = prediction_data.columns.drop('Countries')
prediction_data[cols] = prediction_data[cols].apply(pd.to_numeric, errors='coerce')

country_list_pred = prediction_data["Countries"]
prediction_data.drop(['Countries'], axis=1, inplace=True)

prediction_data

    Population  Area (sq. mi.)  ...  Total debt service (% of GNI)  Trade (% of GDP)
0     31056997          647500  ...                       0.313625         51.236881
1      3581655           28748  ...                       3.924523         78.161312
2     12127071         1246700  ...                       7.754783         52.256821
3        69108             443  ...                            NaN               NaN
4      7961619           86600  ...                       5.821852         90.402316
..         ...             ...  ...                            ...               ...
84     3431932          176220  ...                            NaN         39.763919
85    27307134          447400  ...                       3.164667         45.678902
86    84402966          329560  ...                       6.551421        200.384580
87    11502010          752614  ...                       3.408538         68.945692
88    12236805          390580  ...                       3.388659         48.336453

[89 rows x 28 columns]

## Step 4.2: prediction

In [116]:
#Make prediction
prediction_values = model.predict(prediction_data)
final_prediction = pd.DataFrame({"Countries": country_list_pred})
final_prediction["Estimated exp growth rate"]=prediction_values
final_prediction.set_index("Countries", inplace=True)
final_prediction.sort_values(by="Estimated exp growth rate", inplace=True, ascending=False)

#Uncomment to download results
#final_prediction.to_csv("results.csv", sep=",")
#from google.colab import files
#files.download('results.csv')

final_prediction

             Estimated exp growth rate
Countries
Monaco                        0.278225
Cuba                          0.242953
Somalia                       0.239873
San Marino                    0.235365
Chad                          0.232597
...                                ...
Mauritania                    0.180151
Oman                          0.180035
Guyana                        0.178261
Timor-Leste                   0.176175
Belize                        0.173500

[89 rows x 1 columns]